n8n/MidJourney_Slack_Bot.json
{
  "name": "MidJourney Slack Bot",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\n\nid_list = [\n  \"1303128541256351814\",\n  \"1303007605748400208\",\n  \"1303000640057901126\",\n  \"1303128570620678175\",\n  \"1303128623342948453\",\n  \"1303128592338780332\",\n  \"1303007707862929499\",\n  \"1303128607509577798\",\n]\n\nfor item in _input.all():\n  item.json.instanceId = random.choice(id_list)\nreturn _input.all()"
      },
      "id": "bdcfd192-4ca0-4cbf-a0ee-be2d5c0f7329",
      "name": "Choice Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://midjourney-proxy:8080/mj/submit/imagine",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"botType\": \"MID_JOURNEY\",\n  \"instanceId\": {{ $json.instanceId }},\n  \"base64Array\": [],\n  \"state\": \"midjourney-proxy-admin\",\n  \"prompt\": \"{{ $json['body.text'] }}\"\n}",
        "options": {}
      },
      "id": "21aced91-bd1b-4256-845e-bf230c98485f",
      "name": "imagine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uIKMv55c0UBhi1ta",
          "name": "MidjourneyProxy"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.channel_id, body.user_name, body.text",
        "options": {}
      },
      "id": "e9d6784e-395c-4631-8e69-e61c18b9f74a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        960
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "54914af6-16c9-4aa4-829d-adaa4a87fe26",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        740
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa3d7ced-2a59-4b2f-855f-0062222eafb0",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "f48ebe47-b614-4bbe-a496-e3b0916bcbdf",
      "name": "Imagine",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        740
      ],
      "webhookId": "fa3d7ced-2a59-4b2f-855f-0062222eafb0"
    },
    {
      "parameters": {
        "fieldToSplitOut": "query.customId, query.taskId, query.channelId, query.userName",
        "options": {}
      },
      "id": "19c2385e-0bb1-4fa8-b8f7-47b5928dc704",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://midjourney-proxy:8080/mj/submit/action",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chooseSameChannel\": true,\n  \"customId\": \"{{ $json['query.customId'] }}\",\n  \"state\": \"midjourney-proxy-admin\",\n  \"taskId\": \"{{ $json['query.taskId'] }}\"\n}",
        "options": {}
      },
      "id": "df77925b-61ff-4352-9c0c-1feee7020f56",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        1400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uIKMv55c0UBhi1ta",
          "name": "MidjourneyProxy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04103b34-a5f8-4c20-ae7f-e34ad803fa5c",
              "name": "result",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b197dd6-bde0-46a9-afd7-97a088a490bd",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        1100
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "92dd5256-47da-4c86-b177-d65e0959e055",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1740,
        740
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json['body.channel_id'] }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Midjourney Image Generation* by {{ $json['body.user_name'] }}\\n\\nPrompt: {{ $json['body.text'] }}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"image\",\n\t\t\t\"image_url\": \"{{ $json.imageUrl }}\",\n\t\t\t\"alt_text\": \"alt text for image\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"U1\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"https://n8n.only-for-me.app/webhook/60d2a561-da82-4945-83dd-b0ce01d9f7b3?customId={{ $json.buttons[0].customId }}&taskId={{ $json.id }}&channelId={{ $json['body.channel_id'] }}&userName={{ $json['body.user_name'] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"U2\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"https://n8n.only-for-me.app/webhook/60d2a561-da82-4945-83dd-b0ce01d9f7b3?customId={{ $json.buttons[1].customId }}&taskId={{ $json.id }}&channelId={{ $json['body.channel_id'] }}&userName={{ $json['body.user_name'] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"U3\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"https://n8n.only-for-me.app/webhook/60d2a561-da82-4945-83dd-b0ce01d9f7b3?customId={{ $json.buttons[2].customId }}&taskId={{ $json.id }}&channelId={{ $json['body.channel_id'] }}&userName={{ $json['body.user_name'] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"U4\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"https://n8n.only-for-me.app/webhook/60d2a561-da82-4945-83dd-b0ce01d9f7b3?customId={{ $json.buttons[3].customId }}&taskId={{ $json.id }}&channelId={{ $json['body.channel_id'] }}&userName={{ $json['body.user_name'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "bd184c40-ff56-4693-93a0-3acf4851480d",
      "name": "Send images",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1920,
        740
      ],
      "credentials": {
        "slackApi": {
          "id": "nhm4dOIogv1dGDEr",
          "name": "n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "6a248ba0-0cd8-474b-ab5b-b9ed18303a4b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        1100
      ],
      "webhookId": "b9e226c3-1818-4cc2-b7a5-0f4b98eb7a1c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://midjourney-proxy:8080/mj/task/list-by-ids",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"ids\": [\n    \"{{ $json.result }}\"\n  ]\n}",
        "options": {}
      },
      "id": "ad99b5c5-f494-4c87-94c8-6804613c1ffa",
      "name": "Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        740
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "uIKMv55c0UBhi1ta",
          "name": "MidjourneyProxy"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "719eb584-a9a7-4b80-8d70-5fef80b2579b",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1740,
        920
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json['body.channel_id'] }}",
          "mode": "id"
        },
        "text": "=*Midjourney Image Generation* by {{ $json['body.user_name'] }}\nPrompt: {{ $json['body.text'] }}\n*FAILED*: : {{ $json['description'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "6cf92c07-69a4-4fcc-9d94-b486f77c3af1",
      "name": "Failure Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1920,
        920
      ],
      "credentials": {
        "slackApi": {
          "id": "nhm4dOIogv1dGDEr",
          "name": "n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04103b34-a5f8-4c20-ae7f-e34ad803fa5c",
              "name": "result",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be7c4d8e-8f23-4407-9ea2-06d3a442460f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        1760
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json['query.channelId'] }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Midjourney Image Upscale* by {{ $json['query.userName'] }}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"image\",\n\t\t\t\"image_url\": \"{{ $json.imageUrl }}\",\n\t\t\t\"alt_text\": \"alt text for image\"\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "98d5a762-d569-4032-a2ee-307fe8726a2d",
      "name": "Send images1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1920,
        1400
      ],
      "credentials": {
        "slackApi": {
          "id": "nhm4dOIogv1dGDEr",
          "name": "n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "3d17e5da-a1dd-41c0-9dda-35e7f0de630c",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        1760
      ],
      "webhookId": "b9e226c3-1818-4cc2-b7a5-0f4b98eb7a1c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://midjourney-proxy:8080/mj/task/list-by-ids",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"ids\": [\n    \"{{ $json.result }}\"\n  ]\n}",
        "options": {}
      },
      "id": "c1487ba5-a772-40b5-adb2-a2fc0bc54d11",
      "name": "Status Check1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        1400
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "uIKMv55c0UBhi1ta",
          "name": "MidjourneyProxy"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "af1f8466-8067-4873-bfec-4ce725dc9fd5",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1740,
        1580
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json['query.channelId'] }}",
          "mode": "id"
        },
        "text": "=*Midjourney Image Upscale* by {{ $json['query.userName'] }}\n*FAILED*: {{ $json['description'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "ccb1ae78-cda2-471b-9029-1ffe2183d45f",
      "name": "Failure Message1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1920,
        1580
      ],
      "credentials": {
        "slackApi": {
          "id": "nhm4dOIogv1dGDEr",
          "name": "n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "2fd327e9-2307-45a1-b94c-e0a1ee19802d",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1740,
        1400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7dc671e3-26fa-4819-9b0b-c3900452d288",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAILURE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failure"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "86698610-83da-4ae3-9e98-eb27dca854bc",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1520,
        1400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7dc671e3-26fa-4819-9b0b-c3900452d288",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAILURE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAILURE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2402a81e-955b-496e-abf8-d4a29bc2cf39",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1520,
        740
      ]
    },
    {
      "parameters": {
        "path": "60d2a561-da82-4945-83dd-b0ce01d9f7b3",
        "options": {}
      },
      "id": "0b06d501-27f5-4968-9be4-18737c19bcd2",
      "name": "Upscale",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        1400
      ],
      "webhookId": "60d2a561-da82-4945-83dd-b0ce01d9f7b3"
    }
  ],
  "pinData": {},
  "connections": {
    "Choice Channel": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagine": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "imagine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagine": {
      "main": [
        [
          {
            "node": "Choice Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Status Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Status Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Failure Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Send images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upscale": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab4d2c31-7566-4a4d-a630-728c23048dca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89684fd541ddbfd04a752524135b6ba210c6af6eba3acf5431d1441bc8410e85"
  },
  "id": "KLHbN4069uoO7wW3",
  "tags": [
    {
      "createdAt": "2024-10-22T00:16:42.330Z",
      "updatedAt": "2024-10-22T00:16:42.330Z",
      "id": "yrxeRByeq6Eolzj4",
      "name": "slack"
    },
    {
      "createdAt": "2024-11-04T23:30:57.031Z",
      "updatedAt": "2024-11-04T23:30:57.031Z",
      "id": "efrMQYkwncK38FoB",
      "name": "midjourney"
    }
  ]
}